In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np

In [4]:
from sklearn.preprocessing import StandardScaler

In [5]:
pd.set_option('display.max_columns', None)

In [6]:
df = pd.read_csv('dfg_limpio.csv')

In [83]:
#COMPROBAR SI HAY NULOS
df.isnull().sum()

backdrop_path        482
genre_ids              0
id                     0
original_language      0
original_title         0
overview              27
popularity             0
poster_path           29
release_date           0
title                  0
vote_average           0
vote_count             0
budget                 0
Action                 0
Adventure              0
Animation              0
Comedy                 0
Crime                  0
Documentary            0
Drama                  0
Family                 0
Fantasy                0
History                0
Horror                 0
Music                  0
Mystery                0
Romance                0
Science Fiction        0
TV Movie               0
Thriller               0
War                    0
Western                0
dtype: int64

In [84]:
df.dtypes

backdrop_path         object
genre_ids             object
id                     int64
original_language     object
original_title        object
overview              object
popularity           float64
poster_path           object
release_date          object
title                 object
vote_average         float64
vote_count             int64
budget                 int64
Action                 int64
Adventure              int64
Animation              int64
Comedy                 int64
Crime                  int64
Documentary            int64
Drama                  int64
Family                 int64
Fantasy                int64
History                int64
Horror                 int64
Music                  int64
Mystery                int64
Romance                int64
Science Fiction        int64
TV Movie               int64
Thriller               int64
War                    int64
Western                int64
dtype: object

In [85]:
df['original_language'].nunique()

3

In [86]:
#paso esa columna a numericas
df = pd.get_dummies(df, columns=['original_language'], prefix='original_language')
df

,backdrop_path,genre_ids,id,original_title,overview,popularity,poster_path,release_date,title,vote_average,vote_count,budget,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western,original_language_en,original_language_es,original_language_fr
0,/3RWsSQlqzRjsuqSRmoyggy74UA7.jpg,"[28, 14, 35]",43074,Ghostbusters,"Following a ghost invasion of Manhattan, paran...",454.747,/wJmWliwXIgZOCCVOcGRBhce7xPS.jpg,2016-07-14,Ghostbusters,5.360,6186,144000000,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,True,False,False
1,/6iUNJZymJBMXXriQyFZfLAKnjO6.jpg,"[28, 12, 14]",297762,Wonder Woman,An Amazon princess comes to the world of Man i...,393.794,/imekS7f1OuHyUP2LAiTEM0zBzUz.jpg,2017-05-30,Wonder Woman,7.229,19475,149000000,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,True,False,False
2,/kaIfm5ryEOwYg8mLbq8HkPuM1Fo.jpg,"[28, 12, 878]",284053,Thor: Ragnarok,Thor is imprisoned on the other side of the un...,393.367,/rzRwTcFvttcN1ZpX2xv4j3tSdJu.jpg,2017-10-02,Thor: Ragnarok,7.592,20156,180000000,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,True,False,False
3,/9X7YweCJw3q8Mcf6GadxReFEksM.jpg,"[28, 18, 878]",263115,Logan,"In the near future, a weary Logan cares for an...",412.050,/fnbjcRDYn6YviCcePDnGdyAkYsB.jpg,2017-02-28,Logan,7.817,18638,97000000,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,True,False,False
4,/xJHokMbljvjADYdit5fK5VQsXEG.jpg,"[12, 18, 878]",157336,Interstellar,The adventures of a group of explorers who mak...,388.917,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,2014-11-05,Interstellar,8.433,34210,165000000,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4496,/jHcn85pI9YvIjaCUwfudmBwASO.jpg,"[18, 35, 10749]",347616,Grace and Grit,The true love story of iconic philosopher Ken ...,8.744,/sLf5ujBUDbIzopUnMSH7GFnmbkF.jpg,2021-06-04,Grace and Grit,5.400,5,6000000,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,True,False,False
4497,/dlSuRPxYHU2OBKsuncBhK6gdHQZ.jpg,[27],895814,Deadware,"In 1999, two friends use a webcam for the firs...",12.383,/9xUUIxodUm6VEfvy1WBYtYB5PSe.jpg,2021-12-07,Deadware,4.600,24,10000,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,True,False,False
4498,/u4Ek9W9LkMolLYIbo5cpQPrTOAY.jpg,"[9648, 878, 53]",624385,Ascendant,"A young environmentalist wakes, trapped, kidna...",12.036,/9jip5YuuUxL8Wv510lLITiSgR27.jpg,2021-04-08,Ascendant,4.400,12,20000000,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,1,0,0,True,False,False
4499,/vmLlfnPVOuvafBmZMmOmrrbeDV1.jpg,[18],857188,Give Them Wings,'Give Them Wings' is based on the true story o...,6.442,/kvwVhAJXLcSYTuVHPuhol3T7GlO.jpg,2021-11-20,Give Them Wings,8.000,5,238000,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,True,False,False
4500,/xxWuP6yErsf6GVX4JkNEiCxXKUh.jpg,"[12, 80, 53]",794699,Bad Girls,"After robbing a strip club, three desperate te...",11.691,/oX85kt2Wh3qQEDnvPgRJYAbCeQP.jpg,2021-02-10,Bad Girls,4.400,5,16000,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,True,False,False

In [87]:
df['original_language_en'] = df['original_language_en'].astype('int64')
df['original_language_es'] = df['original_language_es'].astype('int64')
df['original_language_fr'] = df['original_language_fr'].astype('int64')

In [88]:
df.dtypes #compruebo que se ha pasado a numerico

backdrop_path            object
genre_ids                object
id                        int64
original_title           object
overview                 object
popularity              float64
poster_path              object
release_date             object
title                    object
vote_average            float64
vote_count                int64
budget                    int64
Action                    int64
Adventure                 int64
Animation                 int64
Comedy                    int64
Crime                     int64
Documentary               int64
Drama                     int64
Family                    int64
Fantasy                   int64
History                   int64
Horror                    int64
Music                     int64
Mystery                   int64
Romance                   int64
Science Fiction           int64
TV Movie                  int64
Thriller                  int64
War                       int64
Western                   int64
original_language_en      int64
original_language_es      int64
original_language_fr      int64
dtype: object

In [89]:
df.columns

Index(['backdrop_path', 'genre_ids', 'id', 'original_title', 'overview',
       'popularity', 'poster_path', 'release_date', 'title', 'vote_average',
       'vote_count', 'budget', 'Action', 'Adventure', 'Animation', 'Comedy',
       'Crime', 'Documentary', 'Drama', 'Family', 'Fantasy', 'History',
       'Horror', 'Music', 'Mystery', 'Romance', 'Science Fiction', 'TV Movie',
       'Thriller', 'War', 'Western', 'original_language_en',
       'original_language_es', 'original_language_fr'],
      dtype='object')

In [90]:
#quiero sacar el mes en el que se saca la peli
df['release_date'] = pd.to_datetime(df['release_date'])
df['release_month'] = df['release_date'].dt.month
print(df[['release_date', 'release_month']].head())

  release_date  release_month
0   2016-07-14              7
1   2017-05-30              5
2   2017-10-02             10
3   2017-02-28              2
4   2014-11-05             11

In [91]:
df

,backdrop_path,genre_ids,id,original_title,overview,popularity,poster_path,release_date,title,vote_average,vote_count,budget,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western,original_language_en,original_language_es,original_language_fr,release_month
0,/3RWsSQlqzRjsuqSRmoyggy74UA7.jpg,"[28, 14, 35]",43074,Ghostbusters,"Following a ghost invasion of Manhattan, paran...",454.747,/wJmWliwXIgZOCCVOcGRBhce7xPS.jpg,2016-07-14,Ghostbusters,5.360,6186,144000000,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,7
1,/6iUNJZymJBMXXriQyFZfLAKnjO6.jpg,"[28, 12, 14]",297762,Wonder Woman,An Amazon princess comes to the world of Man i...,393.794,/imekS7f1OuHyUP2LAiTEM0zBzUz.jpg,2017-05-30,Wonder Woman,7.229,19475,149000000,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,5
2,/kaIfm5ryEOwYg8mLbq8HkPuM1Fo.jpg,"[28, 12, 878]",284053,Thor: Ragnarok,Thor is imprisoned on the other side of the un...,393.367,/rzRwTcFvttcN1ZpX2xv4j3tSdJu.jpg,2017-10-02,Thor: Ragnarok,7.592,20156,180000000,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,10
3,/9X7YweCJw3q8Mcf6GadxReFEksM.jpg,"[28, 18, 878]",263115,Logan,"In the near future, a weary Logan cares for an...",412.050,/fnbjcRDYn6YviCcePDnGdyAkYsB.jpg,2017-02-28,Logan,7.817,18638,97000000,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,2
4,/xJHokMbljvjADYdit5fK5VQsXEG.jpg,"[12, 18, 878]",157336,Interstellar,The adventures of a group of explorers who mak...,388.917,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,2014-11-05,Interstellar,8.433,34210,165000000,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4496,/jHcn85pI9YvIjaCUwfudmBwASO.jpg,"[18, 35, 10749]",347616,Grace and Grit,The true love story of iconic philosopher Ken ...,8.744,/sLf5ujBUDbIzopUnMSH7GFnmbkF.jpg,2021-06-04,Grace and Grit,5.400,5,6000000,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,6
4497,/dlSuRPxYHU2OBKsuncBhK6gdHQZ.jpg,[27],895814,Deadware,"In 1999, two friends use a webcam for the firs...",12.383,/9xUUIxodUm6VEfvy1WBYtYB5PSe.jpg,2021-12-07,Deadware,4.600,24,10000,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,12
4498,/u4Ek9W9LkMolLYIbo5cpQPrTOAY.jpg,"[9648, 878, 53]",624385,Ascendant,"A young environmentalist wakes, trapped, kidna...",12.036,/9jip5YuuUxL8Wv510lLITiSgR27.jpg,2021-04-08,Ascendant,4.400,12,20000000,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,1,0,0,1,0,0,4
4499,/vmLlfnPVOuvafBmZMmOmrrbeDV1.jpg,[18],857188,Give Them Wings,'Give Them Wings' is based on the true story o...,6.442,/kvwVhAJXLcSYTuVHPuhol3T7GlO.jpg,2021-11-20,Give Them Wings,8.000,5,238000,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,11
4500,/xxWuP6yErsf6GVX4JkNEiCxXKUh.jpg,"[12, 80, 53]",794699,Bad Girls,"After robbing a strip club, three desperate te...",11.691,/oX85kt2Wh3qQEDnvPgRJYAbCeQP.jpg,2021-02-10,Bad Girls,4.400,5,16000,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,2

In [93]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler

features = ['popularity', 'vote_average', 'vote_count', 'Action', 'Adventure', 'Animation', 'Comedy', 
            'Crime', 'Documentary', 'Drama', 'Family', 'Fantasy', 'History', 'Horror', 'Music', 'Mystery', 
            'Romance', 'Science Fiction', 'TV Movie', 'Thriller', 'War', 'Western', 'original_language_en', 
            'original_language_es', 'original_language_fr', 'release_month']

X = df[features]
y = df['budget']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train_scaled, y_train)

y_pred = model.predict(X_test_scaled)

mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Mean Squared Error (MSE):", mse)
print("R-squared (R²):", r2)

Mean Squared Error (MSE): 507581404776974.56
R-squared (R²): 0.7016853612403807

In [94]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler

# Carga el DataFrame
# df = pd.read_csv("ruta_del_archivo.csv")

# Supongamos que ya tienes el DataFrame cargado

# División de datos en características (features) y objetivo (target)
features = ['popularity', 'vote_average', 'vote_count', 'Action', 'Adventure', 'Animation', 'Comedy', 
            'Crime', 'Documentary', 'Drama', 'Family', 'Fantasy', 'History', 'Horror', 'Music', 'Mystery', 
            'Romance', 'Science Fiction', 'TV Movie', 'Thriller', 'War', 'Western', 'original_language_en', 
            'original_language_es', 'original_language_fr', 'release_month']

X = df[features]
y = df['budget']

# División de los datos en conjuntos de entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Standarización de características
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Entrenamiento del modelo SVM
model = SVR(kernel='linear')
model.fit(X_train_scaled, y_train)

# Predicciones
y_pred = model.predict(X_test_scaled)

# Métricas de regresión
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Mean Squared Error (MSE):", mse)
print("R-squared (R²):", r2)

Mean Squared Error (MSE): 1865916532743813.0
R-squared (R²): -0.16298775990312708

In [9]:

import pandas as pd
columns = ['Action', 'Adventure', 'Animation', 'Comedy', 
           'Crime', 'Documentary', 'Drama', 'Family', 'Fantasy', 'History', 
           'Horror', 'Music', 'Mystery', 'Romance', 'Science Fiction', 
           'TV Movie', 'Thriller', 'War', 'Western']
count_ones = df[columns].sum()

print(count_ones)

Action              960
Adventure           676
Animation           255
Comedy             1284
Crime               562
Documentary         131
Drama              1908
Family              408
Fantasy             416
History             220
Horror              809
Music               126
Mystery             331
Romance             538
Science Fiction     586
TV Movie             52
Thriller           1137
War                 141
Western              59
dtype: int64